Tests: testsuite.sh
Restrictions: allow-stderr, isolation-machine, needs-root, rw-build-tree
Depends: build-essential,
         dpkg-dev,
         kmod,
         locales-all,
         sudo:native,
         @builddeps@
